<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.steelwater.addonlauncher" android:versionCode="1" android:versionName="0.1">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <queries><package android:name="com.mojang.minecraftpe" /></queries>
    <application android:label="Steelwater Add-on Launcher" android:theme="@style/AppTheme" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <provider android:name=".AddonProvider" android:authorities="com.steelwater.addonlauncher.files" android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
